<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../static/three.r119.min.js"></script>
    <script src="../static/vanta.waves.min.js"></script>
<div id="vanta">
    <h1>Welcome {{name}}</h1>
    </div>
    </script>

VANTA.WAVES({
  el: "#vanta",
  //mouseControls: true,
  //touchControls: true,
  gyroControls: false,
  minHeight: 800.00,
  minWidth: 800.00,
  //scale: 1.00,
  //scaleMobile: 1.00,
  color: 0x000000,
  waveHeight: 12.50,
  waveSpeed: 0.60
  })
    </script>
    </body>
</html>
