<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/main.js"></script>
        <script>
            $(window).load(function() {
            $(".se-pre-con").fadeOut("slow");
            });
        </script>
        <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    </head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
     <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="../static/three.r119.min.js"></script>
<script src="../static/vanta.waves.min.js"></script>
<script src="../static/main.js"></script>
    <div class="se-pre-con"></div>
<div id="vanta">
   <div class="container">
       <!--<img style="height:70%; width:70%; opacity:0.35; margin-left:180px; margin-right:100px; margin-top:20px; z-index:100;"src="sub.jpeg"/>-->
    <img style="height:65%; width:65%; opacity:0.35; margin-left:95px; margin-right:60px; margin-top:28px;"src="../static/sub.jpeg"/>
    <span>
    <button onclick="document.getElementById('id01').style.display='inline'" style="margin-top: 20px;margin-left: 10px; z-index:1000;  padding: 15px 24px;">Sign-Up</button>
            <button onclick="document.getElementById('id02').style.display='inline'" style="margin-top: 20px; margin-left: 30px; z-index:1000;  padding: 15px 24px;">Sign-In</button>
    </span>
    </div>    
    <div class="centered"><button style="border: none; color:white ;outline:none; background-color: Transparent;"><b><a href="#gallery">HOME</a></b></button></div>
    <div class="centered1"><button style="border: none; color: white; margin:-top:40px;outline:none; background-color: Transparent;"><b><a href="http://localhost:5000/search">SEARCH</a></b></button></div>
    <div class="centered2"><button style="border: none; color: white;outline:none; background-color: Transparent;"><b><a href="http://localhost:5000/gallery">GALLERY</a></b></button></div>
    <div class="centered3"><button style="border: none; outline:none; color:white; background-color: Transparent;"><b><a href="http://localhost:5000/services">SERVICES</a></b></button></div>
    <!--<div class="centered1"><b>ABOUT</b></div>
    <div class="centered2"><b>GALLERY</b></div>
    <div class="centered3"><b>SERVICES</b></div>-->
    <h1 style="color:#989e99; margin-left: 260px;">Your Imagination Our Design</h1>
            <div class="w3-container">
            <!--<button onclick="document.getElementById('id01').style.display='block'" id="cent">Sign-Up</button>-->
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container" style= "height:220px; padding:20px; text-align:center; color:black;">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <!--<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>-->
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name"><br><br>
                        <label for="email">Email-Id</label>
                        <input type="email" id="email" name="email"><br><br>
                        <label for="pswd">Password</label>
                        <input type="password" id="pswd" name="pswd"><br><br>
                        <!-- <input type="submit" value="Submit">-->
                        <button type="button" onclick="store()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-container" id="centered6">
            <div id="id02" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container" style= "height:220px; padding:20px; text-align:center; color:black;">
                        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <label for="email">Email-Id</label>
                        <input type="email" id="email1" name="email"><br><br>
                        <label for="pswd">Password</label>
                        <input type="password" id="pswd1" name="pswd"><br><br>
                        <!-- <input type="submit" value="Submit">-->
                        <button type="button" onclick="check()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="gallery">
	<div class="row"> 
  <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:50%" loading="lazy">
  </div>
  <div class="column">
    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:50%" loading="lazy">
  </div>  
  <div class="column">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:50%" loading="lazy">
  </div>
  <div class="column">
    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:50%" loading="lazy">
    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:50%" loading="lazy">
  </div>
    </div>-->

    </div>
</div>
<script>
$(window).load(function() {
    $(".se-pre-con").fadeOut("slow");
});


function check(){
    var email = (document.getElementById("email1").value);
    console.log(document.getElementById("email1").value);
    var pswd = (document.getElementById("pswd1").value);
    console.log(document.getElementById("pswd1").value);
    verify(email, pswd);
    document.getElementById('email1').value=''; 
    document.getElementById('pswd1').value=''; 
}
    function store(){
    console.log(document.getElementById("name").value);
    console.log(document.getElementById("email").value);
    console.log(document.getElementById("pswd").value);
    var name = (document.getElementById("name").value);
    var email = (document.getElementById("email").value);
    var pswd = (document.getElementById("pswd").value);
    email = email.replace("@" , "");
    add(name, email, pswd);
    document.getElementById('name').value=''; 
    document.getElementById('email').value=''; 
    document.getElementById('pswd').value=''; 

}
VANTA.WAVES({
  el: "#vanta",
  //mouseControls: true,
  //touchControls: true,
  gyroControls: false,
  minHeight: 800.00,
  minWidth: 800.00,
  //scale: 1.00,
  //scaleMobile: 1.00,
  color: 0x000000,
  waveHeight: 12.50,
  waveSpeed: 0.60
})
</script>
</body>
